<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons Icon -->

    <title>Design pattern</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/simple-line-icons.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/revslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/style.css}" media="all">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

</head>

<body class="cms-index-index index">
<div id="page">
    <div th:insert="template.html :: headerSite"></div>
    <!-- Slider -->
    <div id="thm-slideshow" class="thm-slideshow">
        <div class="container">
            <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                 data-alias="classicslider1"
                 style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
                <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-16" data-transition="zoomout" data-slotamount="default"
                            data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                            data-thumb="images/slide-img1.jpg" data-rotate="0" data-fstransition="fade"
                            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
                            data-title="Intro" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="images/slide-img1.jpg" alt="">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-16-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-lineheight="['70','70','70','50']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-responsive_offset="on"

                                 data-elementdelay="0.05"

                                 style="z-index: 5; white-space: nowrap;">SEASON SALE
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-16-layer-4"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 6; white-space: nowrap;">Superb ecommerce store is updated regularly
                                with offers.
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-16-layer-8"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-style_hover="cursor:default;"

                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="2000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 7; white-space: nowrap;"><i class="pe-7s-refresh"></i></div>


                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1"
                                 id="slide-17-layer-8"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['120','100','100','100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-style_hover="cursor:default;"

                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="2000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 7; white-space: nowrap;"><a href="#">Learn More</a></div>
                        </li>
                        <!-- SLIDE  -->

                        <!-- SLIDE  -->
                        <li data-index="rs-18" data-transition="zoomin" data-slotamount="7"
                            data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                            data-thumb="images/slide-img2.jpg" data-rotate="0" data-saveperformance="off"
                            data-title="Ken Burns" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="images/slide-img2.jpg" alt="">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-18-layer-9"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
                                 data-width="600"
                                 data-height="155"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;"
                                 data-mask_out="x:inherit;y:inherit;"
                                 data-start="2000"
                                 data-responsive_offset="on"


                                 style="z-index: 5;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0.50);"></div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-18-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-lineheight="['70','70','70','50']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-responsive_offset="on"

                                 data-elementdelay="0.05"

                                 style="z-index: 6; white-space: nowrap;">Mega Sale
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-18-layer-4"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 7; white-space: nowrap;">Lorem ipsum dolor sit amet, consectetur
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-19" data-transition="zoomout" data-slotamount="default"
                            data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                            data-thumb="images/video-img.jpg" data-rotate="0" data-saveperformance="off"
                            data-title="HTML5 Video" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="images/video-img.jpg" alt="">
                            <!-- LAYERS -->

                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer"
                                 data-forcerewind="on"
                                 data-volume="mute"
                                 data-videowidth="100%"
                                 data-videoheight="100%"
                                 data-videomp4="images/bg1.mp4"
                                 data-videowebm="images/bg1.webm"
                                 data-videopreload="preload"
                                 data-videoloop="none"
                                 data-forceCover="1"
                                 data-aspectratio="16:9"
                                 data-autoplay="true"
                                 data-autoplayonlyfirsttime="false"
                                 data-nextslideatend="true"
                            ></div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0"
                                 id="slide-19-layer-10"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="opacity:0;s:2000;e:Power3.easeInOut;"
                                 data-transform_out="opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-start="2000"
                                 data-basealign="slide"
                                 data-responsive_offset="on"
                                 data-responsive="off"

                                 style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0);"></div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-19-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-lineheight="['70','70','70','50']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="chars"
                                 data-splitout="none"
                                 data-responsive_offset="on"

                                 data-elementdelay="0.05"

                                 style="z-index: 6; white-space: nowrap;">Hot deals
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-19-layer-4"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"

                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1500"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 7; white-space: nowrap;">Lorem ipsum dolor sit amet, consectetur
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0"
                                 id="slide-19-layer-8"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-style_hover="cursor:default;"

                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="2000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"


                                 style="z-index: 8; white-space: nowrap;"><i class="pe-7s-ball"></i></div>
                        </li>
                        <!-- SLIDE  -->

                    </ul>
                    <div class="tp-static-layers"></div>
                    <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- end Slider -->

    <div class="our-features-box">
        <div class="container">
            <ul>
                <li>
                    <div class="feature-box red_bg"><span class="icon-globe-alt"></span>
                        <div class="content">
                            <h3>FREE SHIPPING WORLDWIDE</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="feature-box yellow_bg"><span class="icon-support"></span>
                        <div class="content">
                            <h3>24/7 CUSTOMER SUPPORT</h3>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="feature-box brown_bg"><span class="icon-share-alt"></span>
                        <div class="content">
                            <h3>RETURNS AND EXCHANGES</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-lg-8">
                        <div class="footer-column pull-left">
                            <h4>CUSTOMMER SERVICE</h4>
                            <ul class="links">
                                <li class="first"><a href="#" title="Contact us">My Account</a></li>
                                <li><a href="#" title="About us">Order History</a></li>
                                <li><a href="#" title="faq">FAQ</a></li>
                                <li><a href="#" title="Popular Searches">Specials</a></li>
                                <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>

                            </ul>
                        </div>
                        <div class="footer-column pull-left">
                            <h4>Corporation</h4>
                            <ul class="links">
                                <li class="first"><a title="Your Account" href="#">About us</a></li>
                                <li><a title="Information" href="#">Customer Service</a></li>
                                <li><a title="Addresses" href="#">Company</a></li>
                                <li><a title="Addresses" href="#">Investor Relations</a></li>
                                <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>

                            </ul>
                        </div>
                        <div class="footer-column pull-left">
                            <h4>Why choose Us</h4>
                            <ul class="links">
                                <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                                <li><a href="#" title="Blog">Blog</a></li>
                                <li><a href="#" title="Company">Company</a></li>
                                <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                                <li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="footer-column-last">
                            <div class="newsletter-wrap">
                                <h4>Sign up for emails</h4>
                                <form id="newsletter-validate-detail" method="post" action="#">
                                    <div id="container_form_news">
                                        <div id="container_form_news2">
                                            <input type="text" class="input-text required-entry validate-email"
                                                   value="Enter your email address" onFocus=" this.value='' "
                                                   title="Sign up for our newsletter" id="newsletter" name="email">
                                            <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <div class="social">
                                <h4>Follow Us</h4>
                                <ul class="link">
                                    <li class="fb pull-left"><a href="#"></a></li>
                                    <li class="tw pull-left"><a href="#"></a></li>
                                    <li class="googleplus pull-left"><a href="#"></a></li>
                                    <li class="rss pull-left"><a href="#"></a></li>
                                    <li class="pintrest pull-left"><a href="#"></a></li>
                                    <li class="linkedin pull-left"><a href="#"></a></li>
                                    <li class="youtube pull-left"><a href="#"></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="images/logo.png"></div>
                <address>
                    <i class="fa fa-map-marker"></i>ThemesGround, 789 Main rd, Anytown, CA 12345 USA <i
                        class="fa fa-mobile"></i><span> +(888) 123-4567</span> <i class="fa fa-envelope"></i><span> superb@themesground.com</span>
                </address>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 coppyright">&copy; 2016 ThemesGround. All Rights Reserved.</div>

                </div>
            </div>
        </div>
    </footer>
</div>
<div id="mobile-menu">
    <ul>
        <li>
            <div class="mm-search">
                <form id="search_mob" name="search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term"
                               id="srch-term">
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="home"><a href="#"><i class="icon-home"></i>Home</a></div>
        </li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="list.html">List</a></li>
                <li><a href="product_detail.html">Product Detail</a></li>
                <li><a href="shopping_cart.html">Shopping Cart</a></li>
                <li><a href="checkout/checkout.html">Checkout</a>
                    <ul>
                        <li><a href="checkout/checkout_method.html">Checkout Method</a></li>
                        <li><a href="checkout/checkout_billing_info.html">Checkout Billing Info</a></li>
                    </ul>
                </li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="multiple_addresses.html">Multiple Addresses</a></li>
                <li><a href="about_us.html">About us</a></li>
                <li><a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="blog-detail.html">Blog Detail</a></li>
                    </ul>
                </li>
                <li><a href="contact_us.html">Contact us</a></li>
                <li><a href="error.html">404 Error Page</a></li>
            </ul>
        </li>
        <li><a href="#">Women</a>
            <ul>
                <li><a href="#" class="">Stylish Bag</a>
                    <ul>
                        <li><a href="#" class="">Clutch Handbags</a></li>
                        <li><a href="#l" class="">Diaper Bags</a></li>
                        <li><a href="#" class="">Bags</a></li>
                        <li><a href="#" class="">Hobo handbags</a></li>
                    </ul>
                </li>
                <li><a href="#">Material Bag</a>
                    <ul>
                        <li><a href="#">Beaded Handbags</a></li>
                        <li><a href="#">Fabric Handbags</a></li>
                        <li><a href="#">Handbags</a></li>
                        <li><a href="#">Leather Handbags</a></li>
                    </ul>
                </li>
                <li><a href="#">Shoes</a>
                    <ul>
                        <li><a href="#">Flat Shoes</a></li>
                        <li><a href="#">Flat Sandals</a></li>
                        <li><a href="#">Boots</a></li>
                        <li><a href="#">Heels</a></li>
                    </ul>
                </li>
                <li><a href="#">Jwellery</a>
                    <ul>
                        <li><a href="#">Bracelets</a></li>
                        <li><a href="#">Necklaces &amp; Pendent</a></li>
                        <li><a href="#l">Pendants</a></li>
                        <li><a href="#">Pins &amp; Brooches</a></li>
                    </ul>
                </li>
                <li><a href="#">Dresses</a>
                    <ul>
                        <li><a href="#">Casual Dresses</a></li>
                        <li><a href="#">Evening</a></li>
                        <li><a href="#">Designer</a></li>
                        <li><a href="#">Party</a></li>
                    </ul>
                </li>
                <li><a href="#">Swimwear</a>
                    <ul>
                        <li><a href="#">Swimsuits</a></li>
                        <li><a href="#">Beach Clothing</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Bikinis</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Men</a>
            <ul>
                <li><a href="#" class="">Shoes</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Sport Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Casual Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Leather Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">canvas shoes</a></li>
                    </ul>
                </li>
                <li><a href="#">Dresses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Casual Dresses</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Evening</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Designer</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Party</a></li>
                    </ul>
                </li>
                <li><a href="#">Jackets</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Coats</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Formal Jackets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Leather Jackets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Blazers</a></li>
                    </ul>
                </li>
                <li><a href="#">Watches</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Fasttrack</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Casio</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Titan</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Tommy-Hilfiger</a></li>
                    </ul>
                </li>
                <li><a href="#">Sunglasses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Ray Ban</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Fasttrack</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Police</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Oakley</a></li>
                    </ul>
                </li>
                <li><a href="#">Accesories</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Backpacks</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Wallets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Laptops Bags</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Belts</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Electronics</a>
            <ul>
                <li><a href="#"><span>Mobiles</span></a>
                    <ul>
                        <li><a href="#"><span>Samsung</span></a></li>
                        <li><a href="#"><span>Nokia</span></a></li>
                        <li><a href="#"><span>IPhone</span></a></li>
                        <li><a href="#"><span>Sony</span></a></li>
                    </ul>
                </li>
                <li><a href="#" class=""><span>Accesories</span></a>
                    <ul>
                        <li><a href="#"><span>Mobile Memory Cards</span></a></li>
                        <li><a href="#"><span>Cases &amp; Covers</span></a></li>
                        <li><a href="#"><span>Mobile Headphones</span></a></li>
                        <li><a href="#"><span>Bluetooth Headsets</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Cameras</span></a>
                    <ul>
                        <li><a href="#"><span>Camcorders</span></a></li>
                        <li><a href="#"><span>Point &amp; Shoot</span></a></li>
                        <li><a href="#"><span>Digital SLR</span></a></li>
                        <li><a href="#"><span>Camera Accesories</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Audio &amp; Video</span></a>
                    <ul>
                        <li><a href="#"><span>MP3 Players</span></a></li>
                        <li><a href="#"><span>IPods</span></a></li>
                        <li><a href="#"><span>Speakers</span></a></li>
                        <li><a href="#"><span>Video Players</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Computer</span></a>
                    <ul>
                        <li><a href="#"><span>External Hard Disk</span></a></li>
                        <li><a href="#"><span>Pendrives</span></a></li>
                        <li><a href="#"><span>Headphones</span></a></li>
                        <li><a href="#"><span>PC Components</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Appliances</span></a>
                    <ul>
                        <li><a href="#"><span>Vaccum Cleaners</span></a></li>
                        <li><a href="#"><span>Indoor Lighting</span></a></li>
                        <li><a href="#"><span>Kitchen Tools</span></a></li>
                        <li><a href="#"><span>Water Purifier</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
    </ul>
    <div class="dropdown block-language-wrapper">
        <ul>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/english.png"
                                                                                   alt="language"> English </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/francais.png"
                                                                                   alt="language"> French </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/german.png"
                                                                                   alt="language"> German </a></li>
        </ul>
    </div>
    <div class="dropdown block-currency-wrapper">
        <ul>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
        </ul>
    </div>
</div>

<!-- End Footer -->

<!-- JavaScript -->
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/common.js}"></script>
<script type="text/javascript" th:src="@{~/js/countdown.js}"></script>
<script type="text/javascript" th:src="@{~/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/revolution-slider.js}"></script>
<script type="text/javascript" th:src="@{~/js/revolution.extension.js}"></script>
<script type="text/javascript">
    var dthen1 = new Date("12/25/17 11:59:00 PM");
    start = "05/03/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow1) - (dthen1));
    else
        ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);

    var iid1 = "countbox_1";
    CountBack_slider(gsecs1, "countbox_1", 1);

    var dthen1 = new Date("12/12/17 11:59:00 PM");
    start = "01/20/16 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow1) - (dthen1));
    else
        ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);

    var iid1 = "countbox_2";
    CountBack_slider(gsecs1, "countbox_2", 1);
</script>

<script type="text/javascript">
    var tpj = jQuery;
    var revapi4;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_4_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_4_1");
        } else {
            revapi4 = tpj("#rev_slider_4_1").show().revolution({
                sliderType: "standard",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style: "zeus",
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 750,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                    ,
                    bullets: {
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 600,
                        style: "metis",
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 30,
                        space: 5,
                        tmp: '<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                    }
                },
                viewPort: {
                    enable: true,
                    outof: "pause",
                    visible_area: "80%"
                },
                responsiveLevels: [1240, 1024, 778, 480],
                gridwidth: [768, 1024, 778, 480],
                gridheight: [890, 600, 500, 400],
                lazyType: "none",
                parallax: {
                    type: "mouse",
                    origo: "slidercenter",
                    speed: 2000,
                    levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                },
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });	/*ready*/
</script>


</body>
</html>
