<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons Icon -->

    <title>Design pattern</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/simple-line-icons.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/revslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/style.css}" media="all">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

</head>
<body>
<div th:fragment="headerSite">
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Language -->
                        <div class="col-xs-7 col-sm-6">
                            <!--div class="dropdown block-language-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="images/english.png" alt="language"> English <span class="caret"></span> </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/english.png" alt="language"> English </a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/francais.png" alt="language"> French </a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/german.png" alt="language"> German </a></li>
                                </ul>
                            </div-->
                            <!-- End Header Language -->

                            <!-- Header Currency -->
                            <!--div class="dropdown block-currency-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
                                </ul>
                            </div-->
                            <!-- End Header Currency -->

                            <div class="welcome-msg hidden-xs"> DÉCOUVRONS LES DESIGN PATTERN ENSEMBLE !</div>
                        </div>
                        <div class="col-xs-5 col-sm-6">

                            <div class="top-cart-contain pull-right">
                                <!-- Top Cart -->
                                <div class="mini-cart">
                                    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a
                                            href="#"> Panier <span class="cart_count"
                                                                   th:text="${session.cart == null ? 0 : session.cart.size}"></span></a>
                                    </div>
                                    <div>
                                        <div class="top-cart-content" style="display: none;">
                                            <div class="actions">
                                                <button class="btn-checkout" title="Checkout" type="button"
                                                        th:href="@{/checkout}"><span>Payer</span></button>
                                                <a th:href="@{/view-cart}" class="view-cart"><span>Voir le panier</span></a>
                                            </div>
                                            <!--block-subtitle-->
                                            <ul class="mini-products-list" id="cart-sidebar">
                                                <th:block th:each="product, infos : ${session.cart}">
                                                    <li class="item"
                                                        th:classappend="${infos.index==0 ? 'first' : (infos.index==((session.cart.size)-1) ? 'last' : '')}">
                                                        <div class="item-inner"><a class="product-image"
                                                                                   title="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White"
                                                                                   href="#l"><img
                                                                alt="timi &amp; leslie Sophia Diaper Bag, Lemon Yellow/Shadow White"
                                                                src="products-images/product.jpg"></a>
                                                            <div class="product-details">
                                                                <div class="access"><a class="btn-remove1"
                                                                                       title="Remove This Item"
                                                                                       href="#">Supprimer</a> <a
                                                                        class="btn-edit" title="Edit item" href="#"><i
                                                                        class="icon-pencil"></i><span class="hidden">Modifier</span></a>
                                                                </div>
                                                                <!--access--> <strong
                                                                    th:text="${product.value}"></strong> x <span
                                                                    class="price"
                                                                    th:text="${(product.key).getPrix() + '€'}"></span>
                                                                <p class="product-name"><a href="#"
                                                                                           th:text="${(product.key).getNom() + ' - ' + (product.key).getGamme()}"></a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </th:block>
                                            </ul>
                                            <!--actions-->
                                        </div>
                                    </div>
                                </div>
                                <!-- Top Cart -->
                                <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                                    <input value="" type="hidden">
                                    <input id="enable_module" value="1" type="hidden">
                                    <input class="effect_to_cart" value="1" type="hidden">
                                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                                </div>
                            </div>

                            <!--                        <div class="top-search">-->
                            <!--                            <div class="block-icon pull-right"> <a data-target=".bs-example-modal-lg" data-toggle="modal" class="search-focus dropdown-toggle links"> <i class="fa fa-search"></i> </a>-->
                            <!--                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">-->
                            <!--                                    <div class="modal-dialog modal-lg">-->
                            <!--                                        <div class="modal-content">-->
                            <!--                                            <div class="modal-header">-->
                            <!--                                                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><img src="images/interstitial-close.png" alt="close"> </button>-->
                            <!--                                            </div>-->
                            <!--                                            <div class="modal-body">-->
                            <!--                                                <form class="navbar-form">-->
                            <!--                                                    <div id="search">-->
                            <!--                                                        <div class="input-group">-->
                            <!--                                                            <input name="search" placeholder="Search" class="form-control" type="text">-->
                            <!--                                                            <button type="button" class="btn-search"><i class="fa fa-search"></i></button>-->
                            <!--                                                        </div>-->
                            <!--                                                    </div>-->
                            <!--                                                </form>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->


                            <!-- Header Top Links -->
                            <!--                        <div class="toplinks">-->
                            <!--                            <div class="links">-->

                            <!--                                <div class="myaccount"><a title="My Account" href="login.html"><span class="hidden-xs">My Account</span></a></div>-->
                            <!--                                <div class="check"><a title="Checkout" href="checkout/checkout.html"><span class="hidden-xs">Checkout</span></a></div>-->
                            <!--                                <div class="demo"><a title="Blog" href="blog.html"><span class="hidden-xs">Blog</span></a></div>-->
                            <!--                                &lt;!&ndash; Header Company &ndash;&gt;-->

                            <!--                                &lt;!&ndash; End Header Company &ndash;&gt;-->
                            <!--                                <div class="login"><a href="login.html"><span class="hidden-xs">Log In</span></a></div>-->

                            <!--                            </div>-->

                            <!--                        </div>-->
                            <!-- End Header Top Links -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    <!-- Navbar -->
    <nav>
        <div class="container">
            <!-- Header Logo -->
            <div class="logo"><a title="Datson" href="index.html"><img alt="Datson" th:src="@{./images/logo.png}"></a>
            </div>
            <!-- End Header Logo -->

            <div class="mm-toggle-wrap">
                <div class="mm-toggle"><i class="fa fa-reorder"></i><span class="mm-label">Menu</span></div>
            </div>

            <ul class="nav hidden-xs menu-item menu-item-left">
                <li class="level0 parent drop-menu active"><a th:href="@{/}"><span>Accueil</span></a>

                </li>
                <!--            <li class="level0 parent drop-menu"><a href="#"><span>Pages</span> </a>-->
                <!--                <ul class="level1" style="display: none;">-->
                <!--                    <li class="level1 first"><a th:href="@{/product/DS}"><span>DS</span></a></li>-->
                <!--                    <li class="level1 first"><a th:href="@{/product/RENEGADE}"><span>Renegade</span></a></li>-->
                <!--                    <li class="level1 first"><a th:href="@{/product/TEST}"><span>Test error 404</span></a></li>-->
                <!--                    <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>-->
                <!--                    <li class="level1 nav-10-2"> <a href="list.html"> <span>List</span> </a> </li>-->
                <!--                    <li class="level1 nav-10-3"> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>-->
                <!--                    <li class="level1 nav-10-4"> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>-->
                <!--                    <li class="level1 first parent"><a th:href="@{/checkout}"><span>Checkout</span></a>-->
                <!--                        &lt;!&ndash;sub sub category&ndash;&gt;-->
                <!--                        <ul class="level2 right-sub" style="top: 0px; left: 165px; display: none;">-->
                <!--                            <li class="level2 nav-2-1-1 first"><a th:href="@{/checkout-method}"><span>Checkout Method</span></a></li>-->
                <!--                            <li class="level2 nav-2-1-5 last"><a th:href="@{/checkout-billing-info}"><span>Checkout Billing Info</span></a></li>-->
                <!--                        </ul>-->
                <!--                        &lt;!&ndash;sub sub category&ndash;&gt;-->
                <!--                    </li>-->
                <!--                    <li class="level1 nav-10-4"> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>-->
                <!--                    <li class="level1 first parent"><a href="dashboard.html"><span>Dashboard</span></a>-->
                <!--                        &lt;!&ndash;sub sub category&ndash;&gt;-->
                <!--                        <ul class="level2 right-sub" style="top: 0px; left: 165px; display: none;">-->
                <!--                            <li class="level2 nav-2-1-1 first"><a href="account_information.html"><span>Account Information</span></a></li>-->
                <!--                            <li class="level2 nav-2-1-5 last"><a href="address_book.html"><span>Address Book</span></a></li>-->
                <!--                            <li class="level2 nav-2-1-1 first"><a href="contact_information.html"><span>Contact Information</span></a></li>-->
                <!--                        </ul>-->
                <!--                        &lt;!&ndash;sub sub category&ndash;&gt;-->
                <!--                    </li>-->
                <!--                    <li class="level1"> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>-->
                <!--                    <li class="level1"> <a href="about_us.html"> <span>About us</span> </a> </li>-->

                <!--                    <li class="level1"> <a href="faq.html"> <span>FAQ</span> </a> </li>-->
                <!--                    <li class="level1"> <a href="login.html"> <span>Login</span> </a> </li>-->
                <!--                    <li class="level1"> <a href="forgot_password.html"> <span>Forgot Password</span> </a> </li>-->
                <!--                    <li class="level1"> <a href="quick_view.html"> <span>Quick view </span> </a> </li>-->
                <!--                    <li class="level1 first parent"><a href="blog.html"><span>Blog</span></a>-->
                <!--                        <ul class="level2 right-sub" style="top: 0px; left: 165px; display: none;">-->
                <!--                            <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>-->
                <!--                        </ul>-->
                <!--                    </li>-->
                <!--                    <li class="level1"><a href="contact_us.html"><span>Contact us</span></a> </li>-->
                <!--                    <li class="level1"><a href="error.html"><span>404 Error Page</span></a> </li>-->
                <!--                </ul>-->
                <!--            </li>-->

                <!--            <li class="mega-menu"><a href="grid.html" class="level-top"><span>Men</span></a>-->
                <!--                <div  style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">-->
                <!--                    <div class="container">-->
                <!--                        <div class="level0-wrapper2">-->
                <!--                            <div class="nav-block nav-block-center">-->
                <!--                                <ul class="level0">-->
                <!--                                    <li class="level1 nav-6-1 parent item"><a href="#.html" class=""><span>Shoes</span></a>-->
                <!--                                        <ul class="level1">-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/sport-shoes.html"><span>Sport Shoes</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/casual-shoes.html"><span>Casual Shoes</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/leather-shoes.html"><span>Leather Shoes</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/canvas-shoes.html"><span>canvas shoes</span></a></li>-->
                <!--                                        </ul>-->
                <!--                                    </li>-->
                <!--                                    <li class="level1 nav-6-1 parent item"><a href="#.html"><span>Dresses</span></a>-->
                <!--                                        <ul class="level1">-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/casual-dresses.html"><span>Casual Dresses</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/evening.html"><span>Evening</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/designer.html"><span>Designer</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/party.html"><span>Party</span></a></li>-->
                <!--                                        </ul>-->
                <!--                                    </li>-->
                <!--                                    <li class="level1 nav-6-1 parent item"><a href="#.html"><span>Jackets</span></a>-->
                <!--                                        <ul class="level1">-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/coats.html"><span>Coats</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/formal-jackets.html"><span>Formal Jackets</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/leather-jackets.html"><span>Leather Jackets</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/blazers.html"><span>Blazers</span></a></li>-->
                <!--                                        </ul>-->
                <!--                                    </li>-->
                <!--                                    <li class="level1 nav-6-1 parent item"><a href="#.html"><span>Watches</span></a>-->
                <!--                                        <ul class="level1">-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/fasttrack.html"><span>Fasttrack</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/casio.html"><span>Casio</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/titan.html"><span>Titan</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/tommy-hilfiger.html"><span>Tommy-Hilfiger</span></a></li>-->
                <!--                                        </ul>-->
                <!--                                    </li>-->
                <!--                                    <li class="level1 nav-6-1 parent item"><a href="#/sunglasses.html"><span>Sunglasses</span></a>-->
                <!--                                        <ul class="level1">-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/sunglasses/ray-ban.html"><span>Ray Ban</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/sunglasses/fasttrack.html"><span>Fasttrack</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/sunglasses/police.html"><span>Police</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/sunglasses/oakley.html"><span>Oakley</span></a></li>-->
                <!--                                        </ul>-->
                <!--                                    </li>-->
                <!--                                    <li class="level1 nav-6-1 parent item"><a href="#/accesories.html"><span>Accesories</span></a>-->
                <!--                                        <ul class="level1">-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/accesories/backpacks.html"><span>Backpacks</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/accesories/wallets.html"><span>Wallets</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/accesories/laptops-bags.html"><span>Laptops Bags</span></a></li>-->
                <!--                                            <li class="level2 nav-6-1-1"><a href="#/accesories/belts.html"><span>Belts</span></a></li>-->
                <!--                                        </ul>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                            &lt;!&ndash;level0-wrapper2&ndash;&gt;-->

                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </li>-->
            </ul>
            <ul class="nav hidden-xs menu-item menu-item-right">
                <li class="mega-menu"><a href="grid.html" class="level-top"><span>Véhicules</span></a>
                    <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                        <div class="container">
                            <div class="level0-wrapper2">
                                <div class="col-1">
                                    <div class="nav-block nav-block-center">
                                        <ul class="level0">
                                            <li class="level1 nav-6-1 parent item"><a href="#.html" class=""><span>VOITURES</span></a>
                                                <ul class="level1">
                                                    <li class="level2 nav-6-1-1"><a
                                                            th:href="@{/product/DS}"><span>DS</span></a></li>
                                                    <li class="level2 nav-6-1-1"><a
                                                            th:href="@{/product/RENEGADE}"><span>Renegade</span></a>
                                                    </li>
                                                    <li class="level2 nav-6-1-1"><a th:href="@{/product/TEST}"><span>Test error 404</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--nav-block nav-block-center-->
                                <div class="col-2">
                                    <div class="menu_image"><a href="#" title=""><img src="images/menu_image.png"
                                                                                      alt="menu_image"></a></div>
                                </div>
                            </div>
                            <!--level0-wrapper2--> </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end nav -->
</div>

<div th:fragment="footerSite">

</div>
</body>
</html>
