﻿<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons Icon -->

    <title>Design pattern</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/internal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/simple-line-icons.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/revslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/style.css}" media="all">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

</head>
<body class="onestepcheckout-index-index inner-page">
<div id="page">
    <div th:insert="template.html :: headerSite"></div>

    <!-- Main Container -->
    <section class="main-container col2-right-layout bounceInUp animated">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9">
                    <div class="page-title">
                        <h1>Paiement</h1>
                    </div>
                    <ol class="one-page-checkout" id="checkoutSteps">
                        <li id="opc-billing" class="section allow active">
                            <div class="step-title"><span class="number">1</span>
                                <h3>Adresse de paiement</h3>
                                <!--<a href="#">Edit</a> -->
                            </div>
                            <div id="checkout-step-billing" class="step a-item">
                                <form id="co-billing-form">
                                    <fieldset class="group-select">
                                        <ul>
                                            <li>
                                                <label for="billing-address-select">Sélectionnez une adresse de
                                                    facturation dans votre carnet
                                                    d'adresses ou entrez une nouvelle adresse.</label>
                                                <br>
                                                <select name="" id="billing-address-select" class="address-select"
                                                        title="" onChange="#">
                                                    <option value="1" selected="selected">2 allée Jean Vaillé, 36000
                                                        CHATEAUROUX
                                                    </option>
                                                    <option>Nouvelle adresse</option>
                                                </select>
                                            </li>
                                            <li id="billing-new-address-form" style="display: none;">
                                                <fieldset>
                                                    <legend>Nouvelle adresse</legend>
                                                    <input type="hidden" name="" value="4269" id="billing:address_id">
                                                    <ul>
                                                        <li>
                                                            <div class="customer-name">
                                                                <div class="input-box name-firstname">
                                                                    <label for="billing:firstname"> Prénom <span
                                                                            class="required">*</span> </label>
                                                                    <br>
                                                                    <input type="text" id="billing:firstname" name=""
                                                                           value="pranali" title="First Name"
                                                                           class="input-text">
                                                                </div>
                                                                <div class="input-box name-lastname">
                                                                    <label for="billing:lastname"> Nom <span
                                                                            class="required">*</span> </label>
                                                                    <br>
                                                                    <input type="text" id="billing:lastname" name=""
                                                                           value="d" title="Last Name"
                                                                           class="input-text">
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="billing:company">Société</label>
                                                                <br>
                                                                <input type="text" id="billing:company" name=""
                                                                       title="Company" class="input-text">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label>Adresse <span class="required">*</span></label>
                                                            <br>
                                                            <input type="text" title="Street Address" name=""
                                                                   value="aundh" class="input-text">
                                                        </li>
                                                        <li>
                                                            <input type="text" title="Street Address 2" name=""
                                                                   class="input-text">
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="billing:city">Ville <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <input type="text" title="City" name="" value="tyyrt"
                                                                       class="input-text"
                                                                       id="billing:city">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="billing:postcode">Code postal <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <input type="text" title="Zip/Postal Code" name=""
                                                                       id="billing:postcode" value="46532"
                                                                       class="input-text validate-zip-international">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="billing:country_id">Pays <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <select name="billing[country_id]"
                                                                        id="billing:country_id" class="validate-select"
                                                                        title="Country">
                                                                    <option></option>
                                                                    <option value="FR">France</option>
                                                                    <option value="AF">Afghanistan</option>
                                                                    <option value="AL">Albania</option>
                                                                    <option value="DZ">Algeria</option>
                                                                    <option value="AS">American Samoa</option>
                                                                    <option value="AD">Andorra</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="billing:telephone">Telephone <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <input type="text" name="" value="454541"
                                                                       title="Telephone" class="input-text"
                                                                       id="billing:telephone">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="billing:portable">Téléphone portable</label>
                                                                <br>
                                                                <input type="text" name="" title="Portable"
                                                                       class="input-text" id="billing:portable">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="" value="1"
                                                                   title="Save in address book"
                                                                   id="billing:save_in_address_book" onChange="#;"
                                                                   class="checkbox">
                                                            <label for="billing:save_in_address_book">Sauvegarder
                                                                l'adresse</label>
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                            </li>
                                            <li>
                                                <input type="radio" name="shipping-address"
                                                       id="billing:use_for_shipping_yes" value="1"
                                                       checked="checked" class="radio">
                                                <label for="billing:use_for_shipping_yes">Facturer à cette
                                                    adresse</label>
                                                <input type="radio" name="shipping-address"
                                                       id="billing:use_for_shipping_no" value="0"
                                                       class="radio">
                                                <label for="billing:use_for_shipping_no">Facturer à une adresse
                                                    différente</label>
                                            </li>
                                        </ul>
                                        <p class="require"><em class="required">* </em>Champs obligatoires</p>
                                        <button id="continue-step2" type="button" class="button continue"><span>Continuer</span>
                                        </button>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                        <li id="opc-shipping" class="section">
                            <div class="step-title"><span class="number">2</span>
                                <h3 class="one_page_heading"> Adresse de livraison</h3>
                                <!--<a href="#">Edit</a>-->
                            </div>
                            <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                                <form id="co-shipping-form">
                                    <fieldset class="group-select">
                                        <ul>
                                            <li>
                                                <label for="shipping-address-select">Sélectionnez une adresse de
                                                    livraison dans votre carnet
                                                    d'adresses ou entrez une nouvelle adresse.</label>
                                                <br>
                                                <select name="" id="shipping-address-select" class="address-select"
                                                        title="" onChange="#">
                                                    <option value="1" selected="selected">2 allée Jean Vaillé, 36000
                                                        CHATEAUROUX
                                                    </option>
                                                    <option>Nouvelle adresse</option>
                                                </select>
                                            </li>
                                            <li id="shipping-new-address-form" style="display: none;">
                                                <fieldset>
                                                    <input type="hidden" name="" id="shipping:address_id">
                                                    <ul>
                                                        <li>
                                                            <div class="customer-name">
                                                                <div class="input-box name-firstname">
                                                                    <label for="shipping:firstname"> First Name <span
                                                                            class="required">*</span> </label>
                                                                    <br>
                                                                    <input type="text" id="shipping:firstname" name=""
                                                                           title="First Name"
                                                                           class="input-text" onChange="#">
                                                                </div>
                                                                <div class="input-box name-lastname">
                                                                    <label for="shipping:lastname"> Last Name <span
                                                                            class="required">*</span> </label>
                                                                    <br>
                                                                    <input type="text" id="shipping:lastname" name=""
                                                                           title="Last Name" class="input-text"
                                                                           onChange="#">
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="shipping:company">Company</label>
                                                                <br>
                                                                <input type="text" id="shipping:company" name=""
                                                                       title="Company" class="input-text"
                                                                       onChange="#;">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label for="shipping:street1">Address <span
                                                                    class="required">*</span></label>
                                                            <br>
                                                            <input type="text" title="Street Address" name=""
                                                                   id="shipping:street1" class="input-text"
                                                                   onChange="#;">
                                                        </li>
                                                        <li>
                                                            <input type="text" title="Street Address 2" name=""
                                                                   id="shipping:street2"
                                                                   class="input-text" onChange="#;">
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="shipping:city">City <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <input type="text" title="City" name=""
                                                                       class="input-text" id="shipping:city"
                                                                       onChange="#;">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="shipping:region">State/Province <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <select id="shipping:region_id" name=""
                                                                        title="State/Province" class="validate-select">
                                                                    <option>Please select region, state or province
                                                                    </option>
                                                                    <option value="1">Alabama</option>
                                                                    <option value="2">Alaska</option>
                                                                    <option value="3">American Samoa</option>
                                                                </select>
                                                                <input type="text" id="shipping:region" name=""
                                                                       title="State/Province"
                                                                       class="input-text" style="display: none;">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="shipping:postcode">Zip/Postal Code <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <input type="text" title="Zip/Postal Code" name=""
                                                                       id="shipping:postcode"
                                                                       class="input-text validate-zip-international"
                                                                       onChange="#;">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="shipping:country_id">Country <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <select name="" id="shipping:country_id"
                                                                        class="validate-select" title="Country"
                                                                        onChange="#;">
                                                                    <option></option>
                                                                    <option value="AF">Afghanistan</option>
                                                                    <option value="AL">Albania</option>
                                                                    <option value="DZ">Algeria</option>
                                                                    <option value="AS">American Samoa</option>
                                                                    <option value="AD">Andorra</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input-box">
                                                                <label for="shipping:telephone">Telephone <span
                                                                        class="required">*</span></label>
                                                                <br>
                                                                <input type="text" name="" title="Telephone"
                                                                       class="input-text" id="shipping:telephone"
                                                                       onChange="#;">
                                                            </div>
                                                            <div class="input-box">
                                                                <label for="shipping:fax">Fax</label>
                                                                <br>
                                                                <input type="text" name="" title="Fax"
                                                                       class="input-text" id="shipping:fax"
                                                                       onChange="#;">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="shipping[save_in_address_book]"
                                                                   value="1"
                                                                   title="Save in address book"
                                                                   id="shipping:save_in_address_book" onChange="#;"
                                                                   class="checkbox">
                                                            <label for="shipping:save_in_address_book">Sauvegarder
                                                                l'adresse</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="" id="shipping:same_as_billing"
                                                                   value="1" class="checkbox">
                                                            <label for="shipping:same_as_billing">Utiliser l'adresse de
                                                                facturation</label>
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                            </li>
                                        </ul>
                                        <p class="require"><em class="required">* </em>Champs obligatoires</p>
                                        <div class="buttons-set1" id="shipping-buttons-container">
                                            <button id="continue-step3" type="button" class="button">
                                                <span>Continuer</span></button>
                                            <a id="back-step1" href="#" class="back-link">« Retour</a></div>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                        <li id="opc-shipping_method" class="section">
                            <div class="step-title"><span class="number">3</span>
                                <h3 class="one_page_heading">Livraison</h3>
                                <!--<a href="#">Edit</a>-->
                            </div>
                            <div id="checkout-step-shipping_method" class="step a-item" style="display: none;">
                                <form id="co-shipping-method-form">
                                    <fieldset>
                                        <div id="checkout-shipping-method-load">
                                            <dl class="shipping-methods">
                                                <dt>On ne livre pas vraiment les articles &#128540;</dt>
                                                <!--dd>
                                                  <ul>
                                                    <li>
                                                      <input type="radio" name="" value="flatrate_flatrate" id="s_method_flatrate_flatrate" checked="checked" class="radio">
                                                      <label for="s_method_flatrate_flatrate">Fixed <span class="price">$35.00</span> </label>
                                                    </li>
                                                  </ul>
                                                </dd-->
                                            </dl>
                                        </div>
                                        <!--div id="onepage-checkout-shipping-method-additional-load">
                                          <div class="add-gift-message">
                                            <h4>Do you have any gift items in your order?</h4>
                                            <p>
                                              <input type="checkbox" name="" id="allow_gift_messages" value="1" class="checkbox">
                                              <label for="allow_gift_messages">Check this checkbox if you want to add gift messages.</label>
                                            </p>
                                          </div>
                                          <div style="display: none;" class="gift-message-form" id="allow-gift-message-container">
                                            <div class="inner-box"> </div>
                                          </div>
                                        </div-->
                                        <div class="buttons-set1" id="shipping-method-buttons-container">
                                            <button id="continue-step4" type="button" class="button">
                                                <span>Continuer</span></button>
                                            <a id="back-step2" href="#" class="back-link">« Retour</a></div>
                                    </fieldset>
                                </form>
                            </div>
                        </li>
                        <li id="opc-payment" class="section">
                            <div class="step-title"><span class="number">4</span>
                                <h3 class="one_page_heading">Méthode de paiement</h3>
                                <!--<a href="#">Edit</a>-->
                            </div>
                            <div id="checkout-step-payment" class="step a-item" style="display: none;">
                                <form id="co-payment-form">
                                    <dl id="checkout-payment-method-load">
                                        <dt>
                                            <input type="radio" id="p_method_checkmo" value="check" name="payment-mode"
                                                   title="Chèque"
                                                   checked="" class="radio">
                                            <label for="p_method_checkmo">Chèque</label>
                                        </dt>
                                        <dd>
                                            <fieldset class="form-list">
                                            </fieldset>
                                        </dd>
                                        <dt>
                                            <input type="radio" id="p_method_paypal" value="paypal" name="payment-mode"
                                                   title="Paypal"
                                                   class="radio">
                                            <label for="p_method_paypal">Paypal</label>
                                        </dt>
                                        <dd>
                                            <fieldset class="form-list">
                                                <ul id="payment_form_paypal" style="display: none;">
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="paypal_email">Email <span
                                                                    class="required">*</span></label>
                                                            <br>
                                                            <input type="text" title="Email" class="input-text"
                                                                   id="paypal_email" name="">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="paypal_mdp">Mot de passe <span class="required">*</span></label>
                                                            <br>
                                                            <input type="password" title="Mot de passe"
                                                                   class="input-text" id="paypal_mdp" name="">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </dd>
                                        <dt>
                                            <input type="radio" id="p_method_ccsave" value="creditcard"
                                                   name="payment-mode"
                                                   title="Credit Card" class="radio">
                                            <label for="p_method_ccsave">Carte de crédit</label>
                                        </dt>
                                        <dd>
                                            <fieldset class="form-list">
                                                <ul id="payment_form_ccsave" style="display: none;">
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="ccsave_cc_owner">Nom <span
                                                                    class="required">*</span></label>
                                                            <br>
                                                            <input type="text" title="Name on Card" class="input-text"
                                                                   id="ccsave_cc_owner" name="">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="ccsave_cc_type">Type de carte de crédit <span
                                                                    class="required">*</span></label>
                                                            <br>
                                                            <select id="ccsave_cc_type" name=""
                                                                    class="required-entry validate-cc-type-select">
                                                                <option value="NO">--Sélectionnez votre type de
                                                                    carte--
                                                                </option>
                                                                <option value="AE">American Express</option>
                                                                <option value="VI">Visa</option>
                                                                <option value="MC">MasterCard</option>
                                                                <option value="DI">Discover</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="ccsave_cc_number">Numéro de carte de crédit
                                                                <span
                                                                        class="required">*</span></label>
                                                            <br>
                                                            <input type="text" id="ccsave_cc_number" name=""
                                                                   title="Credit Card Number"
                                                                   class="input-text validate-cc-number validate-cc-type">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="ccsave_expiration">Date d'expiration <span
                                                                    class="required">*</span></label>
                                                            <br>
                                                            <div class="v-fix">
                                                                <select id="ccsave_expiration" style="width: 140px;"
                                                                        name="" class="required-entry">
                                                                    <option value="NO" selected="selected">Mois</option>
                                                                    <option value="1">01 - Janvier</option>
                                                                    <option value="2">02 - Février</option>
                                                                    <option value="3">03 - Mars</option>
                                                                    <option value="4">04 - Avril</option>
                                                                    <option value="5">05 - Mai</option>
                                                                    <option value="6">06 - Juin</option>
                                                                    <option value="7">07 - Juillet</option>
                                                                    <option value="8">08 - Août</option>
                                                                    <option value="9">09 - Septembre</option>
                                                                    <option value="10">10 - Octobre</option>
                                                                    <option value="11">11 - Novembre</option>
                                                                    <option value="12">12 - Décembre</option>
                                                                </select>
                                                                <select id="ccsave_expiration_yr" style="width: 103px;"
                                                                        name="" class="required-entry">
                                                                    <option value="NO" selected="selected">Année
                                                                    </option>
                                                                    <option value="2022">2022</option>
                                                                    <option value="2023">2023</option>
                                                                    <option value="2024">2024</option>
                                                                    <option value="2025">2025</option>
                                                                    <option value="2026">2026</option>
                                                                    <option value="2027">2027</option>
                                                                    <option value="2028">2028</option>
                                                                    <option value="2029">2029</option>
                                                                    <option value="2030">2030</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="input-box">
                                                            <label for="ccsave_cc_cid">Cryptogramme <span
                                                                    class="required">*</span></label>
                                                            <br>
                                                            <div class="v-fix">
                                                                <input type="text" title="Card Verification Number"
                                                                       class="input-text"
                                                                       id="ccsave_cc_cid" name="" style="width: 3em;">
                                                            </div>
                                                            <!--a href="#" class="cvv-what-is-this">Où le trouver?</a-->
                                                        </div>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </dd>
                                    </dl>
                                </form>
                                <p class="require"><em class="required">* </em>Champs obligatoires</p>
                                <div class="buttons-set1" id="payment-buttons-container">
                                    <button id="continue-step5" type="button" class="button"><span>Continuer</span>
                                    </button>
                                    <a id="back-step3" href="#" class="back-link">« Retour</a></div>
                                <div style="clear: both;"></div>
                            </div>
                        </li>
                        <li id="opc-review" class="section">
                            <div class="step-title"><span class="number">5</span>
                                <h3 class="one_page_heading">Récapitulatif de commande</h3>
                            </div>
                            <div id="checkout-step-review" class="step a-item" style="display: none;">
                                <div class="order-review" id="checkout-review-load"></div>
                                <div class="buttons-set13" id="review-buttons-container">
                                    <p class="f-left">Vous avez oublié un article? <a th:href="@{/view-cart}">Modifier
                                        mon panier</a></p>
                                    <button id="payment-btn" type="submit" class="button"><span>Payer</span></button>
                                    <div id="return-msg"></div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <aside class="col-right sidebar col-sm-3">
                    <div class="block block-progress">
                        <div class="block-title ">Votre commande</div>
                        <div class="block-content">
                            <dl>
                                <dt class="complete"> Adresse de facturation <span class="separator">|</span> <a
                                        id="change-billing"
                                        href="#">Changer</a>
                                </dt>
                                <dd class="complete">
                                    <address>
                                        2 allée Jean Vaillé<br>
                                        36000 CHATEAUROUX<br>
                                    </address>
                                </dd>
                                <dt class="complete"> Adresse de livraison <span class="separator">|</span> <a
                                        id="change-address"
                                        href="#">Changer</a></dt>
                                <dd class="complete">
                                    <address>
                                        2 allée Jean Vaillé<br>
                                        36000 CHATEAUROUX<br>
                                        FRANCE
                                    </address>
                                </dd>
                                <dt class="complete"> Méthode de livraison <span class="separator">|</span> <a
                                        id="change-shipping"
                                        href="#">Changer</a></dt>
                                <dd class="complete"> Aucune ! <br>
                                    <span class="price">0.00 €</span></dd>
                                <dt> Méthode de paiement</dt>
                                <dd class="complete" id="recap-paiement-method"></dd>
                            </dl>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- Main Container End -->

    <!-- Brand logo starts  -->
    <div class="brand-logo wow bounceInUp animated">
        <div class="container">
            <div class="slider-items-products">
                <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo3.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo2.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo1.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo4.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo5.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo6.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo1.png" alt="Image"></a></div>
                        <!-- End Item -->

                        <!-- Item -->
                        <div class="item"><a href="#"><img src="images/b-logo4.png" alt="Image"></a></div>
                        <!-- End Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand logo ends  -->

    <!-- Footer -->
    <footer>
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-lg-8">
                        <div class="footer-column pull-left">
                            <h4>CUSTOMMER SERVICE</h4>
                            <ul class="links">
                                <li class="first"><a href="#" title="Contact us">My Account</a></li>
                                <li><a href="#" title="About us">Order History</a></li>
                                <li><a href="#" title="faq">FAQ</a></li>
                                <li><a href="#" title="Popular Searches">Specials</a></li>
                                <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>

                            </ul>
                        </div>
                        <div class="footer-column pull-left">
                            <h4>Corporation</h4>
                            <ul class="links">
                                <li class="first"><a title="Your Account" href="#">About us</a></li>
                                <li><a title="Information" href="#">Customer Service</a></li>
                                <li><a title="Addresses" href="#">Company</a></li>
                                <li><a title="Addresses" href="#">Investor Relations</a></li>
                                <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>

                            </ul>
                        </div>
                        <div class="footer-column pull-left">
                            <h4>Why choose Us</h4>
                            <ul class="links">
                                <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                                <li><a href="#" title="Blog">Blog</a></li>
                                <li><a href="#" title="Company">Company</a></li>
                                <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                                <li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="footer-column-last">
                            <div class="newsletter-wrap">
                                <h4>Sign up for emails</h4>
                                <form id="newsletter-validate-detail" method="post" action="#">
                                    <div id="container_form_news">
                                        <div id="container_form_news2">
                                            <input type="text" class="input-text required-entry validate-email"
                                                   value="Enter your email address" onFocus=" this.value='' "
                                                   title="Sign up for our newsletter" id="newsletter" name="email">
                                            <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <div class="social">
                                <h4>Follow Us</h4>
                                <ul class="link">
                                    <li class="fb pull-left"><a href="#"></a></li>
                                    <li class="tw pull-left"><a href="#"></a></li>
                                    <li class="googleplus pull-left"><a href="#"></a></li>
                                    <li class="rss pull-left"><a href="#"></a></li>
                                    <li class="pintrest pull-left"><a href="#"></a></li>
                                    <li class="linkedin pull-left"><a href="#"></a></li>
                                    <li class="youtube pull-left"><a href="#"></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="images/logo.png"></div>
                <address>
                    <i class="fa fa-map-marker"></i>ThemesGround, 789 Main rd, Anytown, CA 12345 USA <i
                        class="fa fa-mobile"></i><span> +(888) 123-4567</span> <i class="fa fa-envelope"></i><span> superb@themesground.com</span>
                </address>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 coppyright">&copy; 2016 ThemesGround. All Rights Reserved.</div>

                </div>
            </div>
        </div>
    </footer>
</div>
<div id="mobile-menu">
    <ul>
        <li>
            <div class="mm-search">
                <form id="search_mob" name="search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term"
                               id="srch-term">
                    </div>
                </form>
            </div>
        </li>
        <li>
            <div class="home"><a href="#"><i class="icon-home"></i>Home</a></div>
        </li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="list.html">List</a></li>
                <li><a href="../product_detail.html">Product Detail</a></li>
                <li><a href="shopping_cart.html">Shopping Cart</a></li>
                <li><a href="checkout.html">Checkout</a>
                    <ul>
                        <li><a href="checkout_method.html">Checkout Method</a></li>
                        <li><a href="checkout_billing_info.html">Checkout Billing Info</a></li>
                    </ul>
                </li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="multiple_addresses.html">Multiple Addresses</a></li>
                <li><a href="about_us.html">About us</a></li>
                <li><a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="blog-detail.html">Blog Detail</a></li>
                    </ul>
                </li>
                <li><a href="contact_us.html">Contact us</a></li>
                <li><a href="../error.html">404 Error Page</a></li>
            </ul>
        </li>
        <li><a href="#">Women</a>
            <ul>
                <li><a href="#" class="">Stylish Bag</a>
                    <ul>
                        <li><a href="#" class="">Clutch Handbags</a></li>
                        <li><a href="#l" class="">Diaper Bags</a></li>
                        <li><a href="#" class="">Bags</a></li>
                        <li><a href="#" class="">Hobo handbags</a></li>
                    </ul>
                </li>
                <li><a href="#">Material Bag</a>
                    <ul>
                        <li><a href="#">Beaded Handbags</a></li>
                        <li><a href="#">Fabric Handbags</a></li>
                        <li><a href="#">Handbags</a></li>
                        <li><a href="#">Leather Handbags</a></li>
                    </ul>
                </li>
                <li><a href="#">Shoes</a>
                    <ul>
                        <li><a href="#">Flat Shoes</a></li>
                        <li><a href="#">Flat Sandals</a></li>
                        <li><a href="#">Boots</a></li>
                        <li><a href="#">Heels</a></li>
                    </ul>
                </li>
                <li><a href="#">Jwellery</a>
                    <ul>
                        <li><a href="#">Bracelets</a></li>
                        <li><a href="#">Necklaces &amp; Pendent</a></li>
                        <li><a href="#l">Pendants</a></li>
                        <li><a href="#">Pins &amp; Brooches</a></li>
                    </ul>
                </li>
                <li><a href="#">Dresses</a>
                    <ul>
                        <li><a href="#">Casual Dresses</a></li>
                        <li><a href="#">Evening</a></li>
                        <li><a href="#">Designer</a></li>
                        <li><a href="#">Party</a></li>
                    </ul>
                </li>
                <li><a href="#">Swimwear</a>
                    <ul>
                        <li><a href="#">Swimsuits</a></li>
                        <li><a href="#">Beach Clothing</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Bikinis</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Men</a>
            <ul>
                <li><a href="#" class="">Shoes</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Sport Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Casual Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Leather Shoes</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">canvas shoes</a></li>
                    </ul>
                </li>
                <li><a href="#">Dresses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Casual Dresses</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Evening</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Designer</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Party</a></li>
                    </ul>
                </li>
                <li><a href="#">Jackets</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Coats</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Formal Jackets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Leather Jackets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Blazers</a></li>
                    </ul>
                </li>
                <li><a href="#">Watches</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Fasttrack</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Casio</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Titan</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Tommy-Hilfiger</a></li>
                    </ul>
                </li>
                <li><a href="#">Sunglasses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Ray Ban</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Fasttrack</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Police</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Oakley</a></li>
                    </ul>
                </li>
                <li><a href="#">Accesories</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="#">Backpacks</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Wallets</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Laptops Bags</a></li>
                        <li class="level2 nav-6-1-1"><a href="#">Belts</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Electronics</a>
            <ul>
                <li><a href="#"><span>Mobiles</span></a>
                    <ul>
                        <li><a href="#"><span>Samsung</span></a></li>
                        <li><a href="#"><span>Nokia</span></a></li>
                        <li><a href="#"><span>IPhone</span></a></li>
                        <li><a href="#"><span>Sony</span></a></li>
                    </ul>
                </li>
                <li><a href="#" class=""><span>Accesories</span></a>
                    <ul>
                        <li><a href="#"><span>Mobile Memory Cards</span></a></li>
                        <li><a href="#"><span>Cases &amp; Covers</span></a></li>
                        <li><a href="#"><span>Mobile Headphones</span></a></li>
                        <li><a href="#"><span>Bluetooth Headsets</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Cameras</span></a>
                    <ul>
                        <li><a href="#"><span>Camcorders</span></a></li>
                        <li><a href="#"><span>Point &amp; Shoot</span></a></li>
                        <li><a href="#"><span>Digital SLR</span></a></li>
                        <li><a href="#"><span>Camera Accesories</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Audio &amp; Video</span></a>
                    <ul>
                        <li><a href="#"><span>MP3 Players</span></a></li>
                        <li><a href="#"><span>IPods</span></a></li>
                        <li><a href="#"><span>Speakers</span></a></li>
                        <li><a href="#"><span>Video Players</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Computer</span></a>
                    <ul>
                        <li><a href="#"><span>External Hard Disk</span></a></li>
                        <li><a href="#"><span>Pendrives</span></a></li>
                        <li><a href="#"><span>Headphones</span></a></li>
                        <li><a href="#"><span>PC Components</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>Appliances</span></a>
                    <ul>
                        <li><a href="#"><span>Vaccum Cleaners</span></a></li>
                        <li><a href="#"><span>Indoor Lighting</span></a></li>
                        <li><a href="#"><span>Kitchen Tools</span></a></li>
                        <li><a href="#"><span>Water Purifier</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
    </ul>
    <div class="dropdown block-language-wrapper">
        <ul>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/english.png"
                                                                                   alt="language">
                English </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/francais.png"
                                                                                   alt="language">
                French </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><img src="images/german.png"
                                                                                   alt="language">
                German </a></li>
        </ul>
    </div>
    <div class="dropdown block-currency-wrapper">
        <ul>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> $ - Dollar </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> £ - Pound </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> € - Euro </a></li>
        </ul>
    </div>
</div>
<!-- JavaScript -->
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/parallax.js}"></script>
<script type="text/javascript" th:src="@{~/js/common.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.flexslider.js}"></script>
<script type="text/javascript" th:src="@{~/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/cloud-zoom.js}"></script>
<script type="text/javascript" th:src="@{~/js/checkout.js}"></script>
</body>
</html>
