﻿<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons Icon -->

    <title>Design pattern</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/font-awesome.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/simple-line-icons.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/owl.theme.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.bxslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/revslider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/style.css}" media="all">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

</head>

<body class="inner-page">
<div id="page">

    <!-- Main Container -->
    <section class="content-wrapper bounceInUp animated">
        <div class="container">
            <div class="std">
                <div class="page-not-found" style="margin: unset">
                    <h1>Merci ! </h1>
                    <h3 style="font-weight: bolder" th:text="${paiementStatut}"></h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Container End -->

</div>
<!-- JavaScript -->
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/parallax.js}"></script>
<script type="text/javascript" th:src="@{~/js/common.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.flexslider.js}"></script>
<script type="text/javascript" th:src="@{~/js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/cloud-zoom.js}"></script>
</body>
</html>
